    <head>
        
        <meta charset="utf-8">    
        
        <title>{{site.title}}</title>
        
        <link rel="icon" type="image/png" href="{{ site.BASE_PATH }}/favicon.png">
        <link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/css/style.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/headroom.min.js"></script>   


        <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/search.js"></script>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/js.js"></script>
        
    </head>